### Q1. Create a list of five integers and print it.

In [1]:
liist = [55, 60, 65, 70, 75]
print("List of integers:", liist)

List of integers: [55, 60, 65, 70, 75]

### Q2. Write a program to find the length of a list.

In [ ]:
list = [1, 3, 5, 7, 9]
print("Length of this list:", len(list))

Length of the list: 5

### Q3. Create a tuple with three elements and print the second item.

In [ ]:
Tech = ('hardware', 'software', 'embedded ')
print("Second item in this tuple:", Tech[1])

Second item in the tuple: software

### Q4. Create a dictionary with 3 key-value pairs and print all keys.

In [3]:
my_dict = {'name': 'abdo', 'age': 30, 'city': 'ismailia'}
keys = my_dict.keys()
print(keys)

dict_keys(['name', 'age', 'city'])

### Q5. Write a program to convert a list into a set.

In [1]:
my_listt = [1, 2, 3, 4, 4, 5]
my_sett = set(my_listt)
print("Set:", my_sett)

Set: {1, 2, 3, 4, 5}

### Q6. Create a string and print its first and last characters.

In [2]:
my_string = 'Abdelrheem'
print("First char:", my_string[0])
print("Last char:", my_string[-1])

First char: A
Last char: m

### Q7. Take input from the user and print it.

In [ ]:
us_input = input("Enter anything: ")
print("Your input:", us_input)

### Q8. Write a program to add two numbers entered by the user.

In [5]:
A = int(input("Enter first num: "))
B = int(input("Enter second num: "))
print("Sum:", A + B)

Sum: 11

### Q9. Use `type()` function to check the data type of a variable.

In [9]:
a = 'abdo'
print("Data type:", type(a))

Data type: <class 'str'>

### Q10. Create a boolean variable and print it.

In [2]:
is_active = True
print("Boolean variable:", is_active)

Boolean variable: True

### Q11. Check if a number is positive, negative, or zero using `if` statement.

In [6]:
num =int (input("Enter a num: "))
if num > 0:
    print("Positive")
elif num < 0:
    print("Negative")
else:
    print("Zero")

Negative

### Q12. Write a program to check if a number is even or odd.

In [9]:
num = int(input("Enter a num "))
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Odd

### Q13. Write a program that prints your name 3 times using a `for` loop.

In [20]:
for i in range(3):
    print("abdelrheem")

abdelrheem
abdelrheem
abdelrheem

### Q14. Write a `for` loop that prints numbers from 1 to 10.

In [17]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

### Q15. Use a `for` loop to iterate over a list and print each element.

In [21]:
my_list = [10, 20, 30, 40]
for item in my_list:
    print(item)

10
20
30
40

### Q16. Write a program to calculate the sum of numbers from 1 to 100.

In [ ]:
summation = 0
for i in range(1, 101):
    summation += i
print("Sum:", summation)

Summation: 5050

### Q17. Write a `for` loop that prints only even numbers from 1 to 20.

In [29]:
for i in range(1, 21):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

### Q18. Write a `for` loop to print each character in a string.

In [1]:
name = "Abdelrheem"
for char in name:
    print(char)

A
b
d
e
l
r
h
e
e
m

### Q19. Use a `for` loop to print all values in a dictionary.

In [2]:
dic = {'a': 22, 'b': 50, 'c': 55}
for value in dic.values():
    print(value)

22
50
55

### Q20. Write a program that uses a `for` loop to find the factorial of a number.

In [34]:
n = int(input("Enter a number: "))
factorial = 1
for i in range(1, n + 1):
    factorial *= i
print("Factorial:", factorial)

Factorial: 120

### Q21. Create a list of your 5 favorite fruits.

In [35]:
fruits = ['apple', 'banana', 'mango', 'grape', 'orange']

### Q22. Add a new fruit to your list of favorite fruits.

In [36]:
items = ['first', 'second', 'third']
del items[1]
print(items)

['first', 'third']

### Q23. Remove the second item from a list.

In [1]:
items = ['first', 'second', 'third']
del items[1]
print(items)

['first', 'third']

### Q24. Sort a list of numbers in descending order.

In [ ]:
numbers = [4, 2, 9, 1]
numbers.sort(reverse=True)
print(numbers)

### Q25. Find the maximum and minimum values in a list.

In [ ]:
nums = [1, 4, 2, 7]
print("Max:", max(nums))
print("Min:", min(nums))

### Q26. Count how many times a value appears in a list.

In [ ]:
nums = [2, 3, 2, 4, 2]
print("Count of 2:", nums.count(2))

### Q27. Check if a specific value exists in a list.

In [ ]:
nums = [5, 10, 15]
print(10 in nums)

### Q28. Reverse a list without using reverse() function.

In [ ]:
nums = [1, 2, 3, 4, 5]
reversed_list = nums[::-1]
print(reversed_list)

### Q29. Make a copy of a list and modify the copy only.

In [ ]:
original = [10, 20, 30]
copy = original[:]
copy.append(40)
print("Original:", original)
print("Copy:", copy)

### Q30. Use slicing to get the first 3 items of a list.

In [ ]:
my_list = [100, 200, 300, 400]
print(my_list[:3])

### Q31. Create a tuple with 4 elements and print its length.

In [ ]:
my_tuple = (1, 2, 3, 4)
print("Length:", len(my_tuple))

### Q32. Access the last element of a tuple.

In [ ]:
t = (5, 10, 15)
print(t[-1])

### Q33. Convert a tuple into a list.

In [ ]:
t = (10, 20, 30)
print(list(t))

### Q34. Convert a list into a tuple.

In [ ]:
list = [7, 8, 9]
print(tuple(list))

### Q35. Check if a value exists in a tuple.

In [ ]:
t = (3, 6, 9)
print(6 in t)

### Q36. Concatenate two tuples.

In [ ]:
t1 = (1, 2)
t2 = (3, 4)
print(t1 + t2)

### Q37. Repeat a tuple 3 times.

In [ ]:
t = (1, 2)
print(t * 3)

### Q38. Find the index of an element in a tuple.

In [ ]:
t = (4, 5, 6)
print(t.index(5))

### Q39. Use tuple unpacking to assign values to variables.

In [ ]:
x, y, z = (11, 22, 33)
print(x, y, z)

### Q40. Create a nested list and access an inner element.

In [ ]:
nested = [[1, 2], [3, 4]]
print(nested[1][0])

### Q41. Create a set of 5 unique colors.

In [ ]:
colors = {'red', 'green', 'blue', 'yellow', 'orange'}

### Q42. Add a new color to the set.

In [ ]:
colors = {'red', 'green'}
colors.add('blue')
print(colors)

### Q43. Remove an item from the set using `remove()`.

In [ ]:
colors = {'red', 'green', 'blue'}
colors.remove('green')
print(colors)

### Q44. Use `discard()` to remove an item that may or may not exist.

In [ ]:
colors = {'red', 'blue'}
colors.discard('yellow')
print(colors)

### Q45. Create a set from a list with duplicate values.

In [ ]:
lst = ['a', 'b', 'a', 'c']
unique_set = set(lst)
print(unique_set)

### Q46. Find the union of two sets.

In [ ]:
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

### Q47. Find the intersection of two sets.

In [ ]:
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

### Q48. Find the difference between two sets.

In [ ]:
a = {1, 2, 3}
b = {2, 3, 4}
print(a.difference(b))

### Q49. Check if a set is a subset of another set.

In [ ]:
a = {1, 2}
b = {1, 2, 3}
print(a.issubset(b))

### Q50. Check if two sets are disjoint.

In [ ]:
a = {1, 2}
b = {3, 4}
print(a.isdisjoint(b))

### Q51. Create a dictionary with 3 items: name, age, and city.

In [ ]:
person = {'name': 'Ali', 'age': 30, 'city': 'Alex'}

### Q52. Add a new key-value pair to the dictionary.

In [ ]:
person = {'name': 'Ali'}
person['country'] = 'Egypt'
print(person)

### Q53. Update the value of an existing key in the dictionary.

In [ ]:
person = {'name': 'Ali', 'age': 25}
person['age'] = 26
print(person)

### Q54. Remove a key from the dictionary using `pop()`.

In [ ]:
person = {'name': 'Ali', 'age': 25}
person.pop('age')
print(person)

### Q55. Check if a key exists in the dictionary.

In [ ]:
person = {'name': 'Ali'}
print('name' in person)

### Q56. Loop through a dictionary and print all keys and values.

In [ ]:
person = {'name': 'Ali', 'age': 25}
for k, v in person.items():
    print(k, v)

### Q57. Get all keys from a dictionary using `keys()`.

In [ ]:
person = {'name': 'Ali', 'age': 25}
print(person.keys())

### Q58. Get all values from a dictionary using `values()`.

In [ ]:
person = {'name': 'Ali', 'age': 25}
print(person.values())

### Q59. Get all key-value pairs using `items()`.

In [3]:
person = {'name': 'Ali', 'age': 25}
print(person.items())

dict_items([('name', 'Ali'), ('age', 25)])

### Q60. Create a dictionary from two lists: one for keys and one for values.

In [2]:
keys = ['name', 'age']
values = ['Mona', 22]
my_dict = dict(zip(keys, values))
print(my_dict)

{'name': 'Mona', 'age': 22}